In [7]:
import tensorflow as tf
import tensorflow_datasets as tfds

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
import os
def list_files(filepath, filetype):
   paths = []
   for root, dirs, files in os.walk(filepath):
      for file in files:
         if file.lower().endswith(filetype.lower()):
            paths.append(os.path.join(root, file))
   return(paths)

In [9]:
data_files = list_files('/content/drive/MyDrive/data/smart_watch/smartwatch_gestures','txt')

In [10]:
data_files[:5], data_files[-5:]

(['/content/drive/MyDrive/data/smart_watch/smartwatch_gestures/U08/11/20.txt',
  '/content/drive/MyDrive/data/smart_watch/smartwatch_gestures/U08/11/04.txt',
  '/content/drive/MyDrive/data/smart_watch/smartwatch_gestures/U08/11/09.txt',
  '/content/drive/MyDrive/data/smart_watch/smartwatch_gestures/U08/11/12.txt',
  '/content/drive/MyDrive/data/smart_watch/smartwatch_gestures/U08/11/03.txt'],
 ['/content/drive/MyDrive/data/smart_watch/smartwatch_gestures/U02/13/07.txt',
  '/content/drive/MyDrive/data/smart_watch/smartwatch_gestures/U02/13/12.txt',
  '/content/drive/MyDrive/data/smart_watch/smartwatch_gestures/U02/13/09.txt',
  '/content/drive/MyDrive/data/smart_watch/smartwatch_gestures/U02/13/17.txt',
  '/content/drive/MyDrive/data/smart_watch/smartwatch_gestures/U02/13/08.txt'])

In [11]:
# Create new dataframe to hold data
# Create columns for user and gesture from dir tree: /<user>/<gesture>/XX.txt
# File column labels: System.currentTimeMillis() System.nanoTime() event.timestamp event.values[0] event.values[1] event.values[2]
df = pd.DataFrame(columns = ['user', 'gesture', 'trial', 'step', 'sys_current_time', 'sys_nanotime', 'event_timestamp','X', 'Y', 'Z'])

df

Empty DataFrame
Columns: [user, gesture, sys_current_time, sys_nanotime, event_timestamp, X, Y, Z]
Index: []

In [12]:
FILEPATH = '/content/drive/MyDrive/data/smart_watch/smartwatch_gestures'
FILETYPE = 'txt'


# identify all files with data
paths = []
for root, dirs, files in os.walk(FILEPATH):
  for file in files:
    if file.lower().endswith(FILETYPE.lower()):
      paths.append(os.path.join(root, file))



i = len(FILEPATH.split('/')) 

for x in paths:
  user = x.split('/')[i]
  gesture = x.split('/')[i+1]
  
  # print(x)

  row_elements = np.array([])
  row_elements = np.loadtxt(x)

  temp_df = pd.DataFrame(row_elements, columns = ['sys_current_time', 'sys_nanotime', 'event_timestamp','X', 'Y', 'Z'])

  user_info = [user for y in range(len(row_elements))]
  gesture_info = [gesture for y in range(len(row_elements))]

  temp_df['user'] = user_info
  temp_df['gesture'] = gesture_info

  temp_df = temp_df[['user', 'gesture', 'sys_current_time', 'sys_nanotime', 'event_timestamp','X', 'Y', 'Z']]
  df = pd.concat([df, temp_df])

In [13]:
df.to_csv('smartwatch_gestures.csv')

In [14]:
FILEPATH = '/content/drive/MyDrive/data/smart_watch/smartwatch_gestures'
i = len(FILEPATH.split('/')) - 1
FILEPATH.split('/')[i]

'smartwatch_gestures'

In [17]:


i = len(FILEPATH.split('/')) 
user = x.split('/')[i]
gesture = x.split('/')[i+1]
trial = x.split('/')[i+2].replace(".txt","")


x = data_files[0]
row_elements = np.array([])
row_elements = np.loadtxt(x)

temp_df = pd.DataFrame(row_elements, columns = ['sys_current_time', 'sys_nanotime', 'event_timestamp','X', 'Y', 'Z'])

user_info = [user for y in range(len(row_elements))]
gesture_info = [gesture for y in range(len(row_elements))]
trial_info = [trial for y in range(len(row_elements))]
step_info = [y for y in range(len(row_elements))]

temp_df['user'] = user_info
temp_df['gesture'] = gesture_info
temp_df['trial'] = trial_info
temp_df['step'] = step_info

temp_df = temp_df[['user', 'gesture', 'trial', 'step', 'sys_current_time', 'sys_nanotime', 'event_timestamp','X', 'Y', 'Z']]

# new_array = np.insert(row_elements, 0, added_info, axis=1)

temp_df

,user,gesture,trial,step,sys_current_time,sys_nanotime,event_timestamp,X,Y,Z
0,U08,11,20,0,1.387456e+12,6.586995e+14,1.872000e+11,-1.379060,0.919373,9.500193
1,U08,11,20,1,1.387456e+12,6.586996e+14,1.873100e+11,-0.306458,2.758120,10.266337
2,U08,11,20,2,1.387456e+12,6.586997e+14,1.874200e+11,1.685518,6.435614,10.113108
3,U08,11,20,3,1.387456e+12,6.586998e+14,1.875300e+11,0.919373,1.838747,9.500193
4,U08,11,20,4,1.387456e+12,6.586999e+14,1.876400e+11,-0.919373,-5.209783,10.266337
5,U08,11,20,5,1.387456e+12,6.587001e+14,1.877500e+11,-0.459687,-4.903325,6.588843
6,U08,11,20,6,1.387456e+12,6.587002e+14,1.878600e+11,1.379060,-2.145205,1.072602
7,U08,11,20,7,1.387456e+12,6.587003e+14,1.879700e+11,4.290410,-3.217807,5.975927
8,U08,11,20,8,1.387456e+12,6.587004e+14,1.880800e+11,10.879252,-1.072602,16.701952
9,U08,11,20,9,1.387456e+12,6.587005e+14,1.881900e+11,7.967903,-3.830723,13.790602
10,U08,11,20,10,1.387456e+12,6.587006e+14,1.883000e+11,6.742072,-3.217807,8.734048
11,U08,11,20,11,1.387456e+12,6.587007e+14,1.884100e+11,7.201759,-2.145205,7.201759
12,U08,11,20,12,1.387456e+12,6.587008e+14,1.885200e+11,6.895301,-2.911349,6.742072
13,U08,11,20,13,1.387456e+12,6.587009e+14,1.886300e+11,6.895301,-3.064578,7.048530
14,U08,11,20,14,1.387456e+12,6.587010e+14,1.887400e+11,7.048530,-2.758120,7.508216
15,U08,11,20,15,1.387456e+12,6.587011e+14,1.888500e+11,6.742072,-2.911349,7.048530
16,U08,11,20,16,1.387456e+12,6.587013e+14,1.889600e+11,4.903325,-3.677494,7.048530
17,U08,11,20,17,1.387456e+12,6.587014e+14,1.890700e+11,6.742072,-2.758120,6.895301